body{
    margin: 0;
    padding: 0;
}
#bullet{
    color: white;
    position: relative;
}
#bullet img{
    width: 100%;
  
}
#bullet div{
position: absolute;
top: 40%;
left: 5%;

}
#bullet div h1{
   font-size: x-large; 
   margin-bottom: 2rem;
    
}
#bullet div button{
    padding: 5px;
    padding-left: 15px;
    text-align: start;
    width: 55%;
    height: 2.2rem;
    font-size: 1.1rem;
    color: black;
    font-weight: 500;
    background-color: white;
    border: none;
}
#news{
    background-color:#212121;
    color: white;
    padding:0.9rem 0px;

}
#bikes{
    display: flex;
    justify-content: space-between;

}
#bikes div{
    width: 25%;
}
#bikes div img{
    height: 16rem;
    position: relative;
    width: 100%;

}
#bikes div p{
    line-height: normal;
    color: white;
    position: absolute;
    top: 203%;
    font-weight: bold;
    padding-left: 1.5rem;
}
#news h1{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.header1{
    background-color: #212121;
    color: white;
}
.header1 ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    margin: 0;
    padding: 0.3rem 2rem;
    padding-top: 0;
    font-size: small;

}
.red:hover{
    color: red;

}
.img1 img{
    width: 100%;
}
#pt{
    text-align: center;
    color: white;
    background-color: #212121;
    
}
#pt h3{
    margin-bottom: 0;
    padding: 5px;
}
#autoplay{
    display: flex;
    

}
#autoplay div{
    width: 25%;

}
#autoplay div div{
    width: 100%;
}
.autoimg{
    width: 100%;
    height: 30rem;
}